/* _scss/style.scss */
$primary-color: #ff69b4; /* สีชมพูหลัก */
$background-color: #ffeef8; /* สีพื้นหลังชมพูอ่อน */

body {
  background-color: $background-color;
  color: $primary-color;
}

a {
  color: $primary-color;
}

a:hover {
  color: darken($primary-color, 10%); /* สีชมพูเข้มเมื่อชี้เมาส์ */
}

img {
  border-radius: 50%;
  border: 3px solid $primary-color;
}
